<div >
<h1 style="padding-left:350px">List of Users</h1>
<a class="btn" href="#/new">Create User</a>
<br/></br>
<!--<table id="users-table" class="table">-->
<!--  <tr>-->
<!--    <th>Name</th>-->
<!--    <th>Email</th>-->
<!--    <th>Street</th>-->
<!--    <th>City</th>-->
<!--    <th>Country</th>-->
<!--    <th>State</th>-->
<!--    <th>Phone</th>-->
<!--    <th></th>-->
<!--    <th></th>-->
<!--  </tr>-->
<!--</table>-->

<div id="paginator"></div>
</div>
